@model Car.Com.Models.Calculator.IndexViewModel

<div class="header">
  <div class="page-title">
    <h1>Car Payments Calculators</h1>
  </div>
</div>
<div class="main">
  <div class="cell primary">
    <div class="mobilead-cont top">
      <div class="ad-container">
        <div id="js_tile_11" class="ad"></div>
      </div>
    </div>
    <div class="section-pad">
      <p>Our car calculators will get you the key information you need to make the car buying process easier. They will help you quickly get a handle on what you can afford based on variables such as monthly payments, finance rates, interest and fuel prices. These tools can empower you to make the most financially sound car buying decision possible. </p>
      <div class="grid-view-container">
        <div class="grid-view-item">
          @Html.SeoRouteLink("Calculator_PaymentEstimate",
              null,
              "<h3>Car Payment <small>Calculator</small></h3>",
              new Attributes {
                {"class", "btn-calc"}
              })
        </div>
        <div class="grid-view-item">
          @Html.SeoRouteLink("Calculator_LeaseOrPurchase",
              null,
              "<h3>Lease vs Buy <small>Calculator</small></h3>",
              new Attributes {
                {"class", "btn-calc"}
              })
        </div>
        <div class="grid-view-item">
          @Html.SeoRouteLink("Calculator_LoanVsFinancing",
              null,
              "<h3>Rebate vs. 0% <small>Financing Calculator</small></h3>",
              new Attributes {
                {"class", "btn-calc"}
              })
        </div>
        <div class="grid-view-item">
          @Html.SeoRouteLink("Calculator_Affordability",
              null,
              "<h3>Car Affordability <small>Calculator</small></h3>",
              new Attributes {
                {"class", "btn-calc"}
              })
        </div>
        <div class="grid-view-item">
          @Html.SeoRouteLink("Calculator_AcceleratedPayoff",
              null,
              "<h3>Auto Loan Payoff <small>Calculator</small></h3>",
              new Attributes {
                {"class", "btn-calc"}
              })
        </div>
        <div class="grid-view-item">
          @Html.SeoRouteLink("Calculator_FuelEfficiency",
              null,
              "<h3>Fuel Savings <small>Calculator</small></h3>",
              new Attributes {
                {"class", "btn-calc"}
              })
        </div>
      </div>
      <div class="ldrboard-cont">
        <div class="ad-container">
          <div id="js_tile_1" class="ad"></div>
        </div>
      </div>
    </div>
    <div class="mobilead-cont bottom">
      <div class="ad-container">
        <div id="js_tile_12" class="ad"></div>
      </div>
    </div>
  </div>
  <aside class="cell sidebar">
    <div class="ad-set">
      <div class="ad-container">
        <div id="js_tile_2" class="ad"></div>
      </div>
      <div class="ad-container">
        <div id="js_tile_3" class="ad"></div>
      </div>
      <div class="ad-container">
        <div id="js_tile_4" class="ad"></div>
      </div>
    </div>
  </aside>
</div>
<div class="mobilead-cont fixed disabled">
  <div class="ad-container">
    <div id="js_tile_10" class="ad"></div>
  </div>
</div>



